
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;

    .header__seach{
        width: 40%;
        display: flex; 
        align-items: center;
        box-sizing: border-box;
        justify-content: flex-end;
        gap: 1em;
        margin: 1em;       
    }
}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    
    .main-container__card{
        display: flex;
        flex-direction: column;
        
        .card__container-Gens{
            display: flex;
            justify-content: space-between;
        }
        .card__containerCalification{
            display: flex;
        }
    }
    
}